POSTGRES_DB=aice_dms
POSTGRES_USER=dms
POSTGRES_PASSWORD=dms
NEXT_PUBLIC_API_URL=http://localhost:8080/api/v1
API_ADDRESS=:8080
FRONTEND_URL=http://localhost:3000
DATABASE_URL=postgres://dms:dms@localhost:5432/aice_dms?sslmode=disable
